@import "./variable";
@import "./mixin";
* {
  color: #000;
}
html {
  font-size: 16px;
  font-family: "Heebo", sans-serif;
}
.container {
  max-width: 980px;
  margin: 0 auto;
  @include breakpoint(sm) {
    padding: 0 10px;
  }
}
/* =============== Header ==========*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 25px 0;
    li {
      padding: 0 15px;
      a {
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}
/* =============== Feature work ==========*/
.feature-works {
  padding: 20px 0 40px;
  @include breakpoint(sm) {
    padding: 0 10px;
  }
  .feature-title {
    font-weight: 800;
    font-size: 44px;
    @include breakpoint(sm) {
      text-align: center;
      font-size: 30px;
    }
  }
  .feature-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    @include breakpoint(sm) {
      margin-bottom: 50px;
    }
    .feature-item {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      padding: 10px 0 14px;
      border-bottom: 1px solid #e0e0e0;
      @include breakpoint(sm) {
        flex-direction: column;
        padding: 0 10px;
      }
      img {
        width: 260px;
        @include breakpoint(sm) {
          width: 100%;
        }
      }
      .feature-item__content {
        h3 {
          margin: 0;
          a {
            font-size: 30px;
            font-weight: 700;
            text-decoration: none;
            @include breakpoint(sm) {
              font-size: 24px;
            }
          }
        }
      }
      .feature-item__info {
        margin: 26px 0;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 20px;
        span {
          padding: 6px 10px;
          border-radius: 16px;
          background-color: #142850;
          color: #fff;
          font-size: 18px;
          font-weight: 900;
        }
        a {
          font-size: 20px;
          font-weight: 400;
          color: #8695a4;
          text-decoration: none;
          @include breakpoint(sm) {
            font-size: 16px;
          }
        }
      }
      .feature-item__desc {
        padding-bottom: 20px;
        @include breakpoint(sm) {
          padding-bottom: 0;
        }
      }
    }
  }
}
.footer {
  padding: 50px 0;
  .footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
  .footer-copyright {
    text-align: center;
    margin-top: 26px;
  }
}
